<div class="row">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout_set.name %>
</p>

<p>
  <b>Reps:</b>
  <%= @workout_set.reps %>
</p>

<p>
  <b>Numsets:</b>
  <%= @workout_set.numSets %>
</p>
</div>
<div class="row">
Past sets:
</div>
<div class="row">
  <div class="four columns">Reps</div> <div class="four columns">Numsets</div> <div class="four columns last">Weight</div>
</div>

<%= render @weight_reps %>

<div class="row">
Enter a new set:
<%= render :partial => "new_rep"%>
</div>
<div class="row">
<%= link_to 'New Workout set', new_workout_set_path %>

<%= link_to 'Edit', edit_workout_set_path(@workout_set) %> |
<%= link_to 'Destroy', @workout_set, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', workout_sets_path %>
