<!DOCTYPE html>
<html>
<head>
  <title>FitnessManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width" />
</head>
<body>
    <!--
    ::::::::::,::::::::::,:,,,:::::,,,,,,,,,::::::::,,,,,,,,,::,:::,,,:,,,:,,,,::::.
    :~++??????+??????????????+??++++????+?+??++?++?????????????+?????+??+++++++??=:,
    ::+????????+=?++88ZOZZ==???????????????????????????????????????????????+?+???=:,
    :~?I??????~8Z8OIDO+I?++++87OI7==Z8$7==+$$I+====+++??????+?????????????+++++?+~:,
    :~?II?I?I==Z$?DIDI+7O?+++=+?I8$8OOOODDDO$$$$ZZZZ$?==++???+???????????++=======:,
    ::I?III??+Z7O87O7O87Z8O7?+++O8$ZZOOO8ODZZZ$ZZZZZ88ZZZZ=+??++??????????+=====+=:,
    :~IIIII???=ZI+?+I~88$I+?I+I$DDZOZZOZOOOZZOOZZZZZZZZZZZ$$Z==++??????+++=~====+~:.
    :~IIII????+=+=ZOO$Z?$+?++I888D888O8OZOZZOOZZZZ$Z$Z$ZZZZ$$$$++??++++?+++==+=++~:.
    :~IIII??????I$?III?+I==+++???+=O88D8888888OOOZZZZZZ$Z$ZZZZ$$$??I?????????????=:.
    ,:III????I?++==+????????I???======~+88D8OZOZZZ$$Z$Z$$ZZZ$$$$$7?++++??++++====~:.
    ,:I?II??????II??IIIIIIIIIII???+=======888DD8OOOZZZZZZZ$$Z$Z$$$+??????++++?++++:.
    ,:?IIIII?IIII?IIII??I??II?+=+===I7++==~=8DDOOOOZOZZZZOOOZZZ$$$$??????????????~:.
    ,:?IIIII?I????IIIIIIII=++88DZZZZZZZ88DD8==I88D888OOZZZOZOZZZ$$$+?????????????~:.
    ,:IIIII????IIII?III?++?88ZOO8888888888888O==78888D8OZOOZOOZZZ$Z+?=++++++++++=~:.
    ::IIIII?IIIIIIIII++?+88OO8888O88D8888888888=?~8D88888888OOZZZZZ$===+++++====+~:.
    ::II??II?III?I?II?++8O888D8Z7777?I$O88D8D8DO+?=88888D88888OOZZZZZ~===========~:.
    ,:I??????I??IIIIII=8O888OZ7$Z$7$O$OD$888DDDD=??=8D888DD888OOOOOZZZ==?++===~==~:.
    ,:???????????IIII+ZOO88$ZO$7$??O?O8??ID8DDDD=I??ZDD8OO888888O8OOZZZ+?????++?+~:.
    ,,???????????I??=+ZODDZOZ77I7+I==7+7$77O8DDD=???O88DD8888888O888OZ$$?++??????~:.
    ::????????????I??OO8DD8O$ZD8I$77$$7I7I?I8DDD+?~8DDDDDDD88O88D8888OZ$7~++~===+=:.
    ,:???I?????????++8ODDD8D7I$8D8$??7=~+III?ZO=?$DDDD8DDDDD88O8O88888ZZZZZ===~~~~:.
    ::?????????I?I++$OODDDDO87~ODDO?++77~=???OO8+7DDDDDDDDDDDDDOOZ8OOOOZZ:====+==~:.
    ::?????I?I?I???+$ZZZDDDD78ZO$I?87?$7?I+?+?$Z8DD8DDDDDDD88DDDDDD8ZOZOZ87~~~~==~:.
    ,:+++????????I?++ZZO8DD888ZOZI?8?=DDDO??+?ZZDDD8D88DDDDD8OOD8DDDDOZZZOO$7+~~~~:.
    ::+????????????=+OZO88DDDD8887I8?8D8D?=++?8ODD88D8DDDDD8D8OOOOOOZ8OZZOOO$77?~~:.
    ,:++++?????????===OO88DDDDD8O8Z$78D$+?=+??DODDZO88888DDDDO8DOZZOOZZ$OZZZ777??~:.
    ::+????????????I+==ZZ8DDDD888O8O=887:$I?+7O8Z$7ZD888DDDDD8OOD8OZZOZOZZZZZO7+?~:.
    ::?+++????????????++=Z8DDDDDD8OOO8$ZZ7I7O8OZO$7Z8O88OD888DD8OOOOOZOOOOZ$Z$7I?::.
    ::+++++++++???????++=====+7I===788O8D888Z$ZZOZ7$Z8OO8D8$DOO8O8O88OZZOOO8Z$II?::.
    ::?++++++???++++++++==+=====~=~~=~=DDDDOZOZZZ$7I$$ODZZDZZ8OZ8Z8Z8OZOOO8DD8II+~:.
    ::=++++++=++=+=======+===~=~~=~~~=888DDOZO$Z$$Z$777$888D$7$8Z8$8Z$ZOOOZZ$I+?+::.
    :,==============~======~~~~~~~~~88888DDO$OOZZZ$$O777$7O8OOO77$I?I?7I$$Z$$7?++::.
    :,~~~=~~=~~~=~=~~~=~=~~~~~~~~~~~88DDDDDO$OOZZ$$$$IIIII78OOO$$87O$$ZZOOII$7?+~::.
    ::~~~~~~~~~~~~~~~~~~~~~~~~~~~~~O88DDD8D8$$OZZ$$$$87IIIII88DD8Z778D7I?I77I7I++::.
    :,~~~~~~~~~~:~~~~~~~~~~:~~~~:::888DDD8D8$ZOZOZ$Z$ZO7II??ID8888O$7I??+I7$$?+++::.
    ::~~~~~~~~~~~~~~~~~~::~:~:::::78888DD8D8OOZOOOZZ$$ZO87I??O88Z777IDIIIIZ$??++=::.
    ::~~~~~~~~~~:~~~~~~~~~~~~::~~:~OO8D8DD8888ZO88ZZZ$ZZZD8777D8$$$$7OI$?7Z7I?~==::.
    ::~~~~~~~~~:~~~~~~~~~~~~:~~~~:::O8DDDDDD8DDO88O$$$$Z$O8$7$7D8Z$7$$78II77I??~=~:.
    ::~~::~~~~::~:~777~~~:~~~~~~~~~~~88DDDDDD8DDOO8$ZZZZ8II?I???7DZ+$$7$8IIII++~~::.
    ::~::::~~::~~~~I77777~~~~~I7777?:~8DDDD8DDDO88Z8ZOOZI???+???DDD77?I7I$IIII+++::.
    ::~:~~~~~~~:~~~~77777II==+=7777777+DDDDDD8DDD8OZO$III77I?IO8DDDD7I7I7I?III++?=:,
    ::~~~~~~~:~~~~~=777777I7777I77777?I8DDDDDDDDD888$III?I?I8ZZO8DDDD777$IIII??++~:,
    :,~~~~~~~~~~~~~?7I7II777I777777788DDDDDDDDDDD88$777IIO8OOOZO8DDDD8$$$ZII???++=:.
    :,~~~==~=~~===II7I7777I7777777I+8O8DDDDDDDDDDO7ZZZI?DOZ8OZZOODDDDDO87$II??~?+~:.
    :,=======~~~~====+==777777777+$7OOOODDDDDDDD8777I7$78DO88ZZOODDDDDDZ$7$7??=~?~:.
    ::~~=I+=~~~77+=++==777I7777?O8ZZ7O$OZDZ7DDDD$IIZII$8ODDODZZZOO8DDDDDZ77II+++~~:.
    ::~~~I77==~=777I7=I77I77I+8ZOZ$8OZZ8$D$ZDDDDZ$7I$ZDOOZO888$8Z$ODDDDD887II?+==::.
    :,~??777I7?7777777?7777+$88O$Z7I8ZI8O8O$Z8DDZ$$ZZ$I77OZD8ODOOZ8DDDD88D8D??+=+=,.
    ::III7777$77777777777+OD8$DD8O8DO88$$I8O$$ZD8$I7II7I?II$88Z8D78DDD8DDDD8O++=~+:.
    ::III77$77777777I?7I7DO7Z8ZD8I+8DZ88$$?IZ77OD8D$7I????+?IZZOOO$ZDDDDDD8DDI?++~:.
    ::II777777777777I8DDZZ?7IZ8DD77I8878O$DI7$8Z8DD88I?++?+??II$8OD88D8D8O88$7++?+:.
    ::II7777777777?OD8~I?I?=?DZO8D87IDD7Z$7$8$+ZD88DDD7+???IIIII7DDD88DDO$OD$7I?=~:.
    ::II7777777777?D~$?77777IN=$O$OD8+D877$$IZ7DDD8O?+?ZIIIIIII?I7D8D8DNO7ODDD8+I=:.
    ::77I7777$77777II7777777777Z?ID$8D=ND8$$=I8?I7?I7II+OZ7III???IN8DDDDZ7$77I7+?~:.
    ::II7777777777777777777777777+?IIZI?DD8$7I+77I7IIIIIIIIZ$????IIO8ODOO7IIII??++:.
    ::7I777777777777777777777777777?D+?I?N8Z77=7IIIIIII?IIII+$$III?8ZZ$78I+?II?+=+:.
    ::77777777777II7II777I777777777?++777I8OI?7777I7I7IIIIIIII?+$I7777II7III+I??+~:.
    ::7I777777I7IIII7IIII7I777777777777I77IIII77777777777I77I7II??I???7?II?I?=??+~:.
    ::I?II?I???II??+????????+?????++??+?+++????II?++???II???????=?=II++?+I++?==~+=:.

    -->
        <div class="header">

            <div class="row">
                <div class="two columns">

                <!-- <img src='images/square.png' class="not_mobile"> -->
                </div>
                <div class="eight columns">
                    <h1 class='header'><%= t('site_title')%></h1>
                    <h5 class='header'><%= t('site_title_byline')%></h5>
                </div>
                <div class="two column last">
                    <div class="mission_statement">
                        <%= t('site_mission_statement')%>
                    </div>
                </div>

            </div>
        </div>
        <!--
          <div class="row">
            <div class="twelve columns">
            <hr />
            </div>
          </div>
        -->

        <div class="content">
            <div class="row">
                <div class="two columns">

                <!-- <img src='images/square.png' class="not_mobile"> -->
                </div>
                <div class="eight columns">
                      <%= yield :body %>
                      <% #this is for devise %>
                      <%= yield %>
                </div>
                <div class="two column last">

                </div>

             </div>
         </div>
    
    </body>
    </html>

</body>
</html>
